<!DOCTYPE html>
<html lang="en">

<head>
    <!-- thing we need to use not escapse we are using - sign -->
    <%- include('../partials/head.ejs') %>
    <!-- use = to display in screen otherwise it will use value not display -->
    <title><%= title %></title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
   <div class="container mt-4">
       <h1>Welcome to About Page !!!</h1>  
    </div>
</body>

</html>